.DS_Store
.env
.env.local
*.pdf

# Advanced01
Advanced01/advanced01
Advanced02/advanced02
Advanced03/advanced03
Advanced04/advanced04

bin/advanced05
bin/advanced06
bin/advanced07
bin/advanced08

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/
*.ini
